/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* google fonts */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}
.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
body {
  /* background-color: rgba(145, 145, 251, 0.149); */
  /* background-image: url("https://neyaznafiz.xyz/static/media/hero-bg.e070f34d28af7bf10d15.png");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  @apply bg-gradient-to-br from-sky-50 to-sky-100;
}
.dark body {
  @apply bg-gradient-to-br from-slate-800 via-slate-700 to-slate-800;
}
.active {
  color: black;
  font-weight: bold;
  font-size: 17x;
}
.dark .active {
  color: white;
  font-weight: bold;
}
.center {
  margin-top: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

/*  */
